language: php

sudo: false

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - composer install --prefer-dist

script: phpunit --coverage-text --verbose
